.text-first {
    left: 39px;
    top: 111px;
    padding-left: 145px;
    position: absolute;
    font-weight: 700 !important;
    font-size: 54px !important;
    color: #000000;
    z-index: 999;
    background: transparent;
}

.header {
    margin-top: 10px;
}

.mobileimage {
    position: absolute;
    width: 536px;
    height: 468px;
    left: 648px;
    top: 54px;
}

.imagearrow {
    position: absolute;
    width: 232.24px;
    height: 153.58px;
    left: 515.75px;
    top: 66.14px;
}

.rectangle-image {
    position: relative;
    width: 265px;
    height: 334.9px;
    left: -114px;
    top: -388.88px;
}

.cycle {
    position: absolute;
    width: 211.38px;
    height: 190.48px;
    left: 115px;
    top: 763px;
}

.cycle-image {
    position: absolute;
    top: -163%;
    left: -16%;
    width: 50%;
    height: 244px;
    background: transparent;
}

.scooter {
    width: 166px;
    height: 113px;
    left: 1243px;
    background: transparent;
    top: 0;
    transition-delay: 1s;
    animation: move 11s;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        top: 0px;
    }

    to {
        top: 500px;
    }
}

.content-text-color {
    color: #17B57C;
    background: transparent;
}



@media screen and (max-width: 800px) {
    .text-first {
        width: 100%;
        font-weight: 700 !important;
        font-size: 62px !important;
        color: #000000;
        padding-left: inherit;
        padding-top: 64px;
    }

    .mobileimage {
        position: absolute;
        width: 736px;
        height: 778px;
        left: 243px;
        top: 400px;
    }

    .rectangle-image {
        position: relative;
        width: 491px;
        height: 643.9px;
        left: -114px;
        top: 166.12px;
        background: transparent;
    }

    .cycle {
        position: absolute;
        width: 211.38px;
        height: 190.48px;
        left: 115px;
        top: 763px;
    }

    .cycle-image {
        position: absolute;
        top: 174%;
        left: -85%;
        width: 396%;
        height: 480px;
        background: transparent;
    }

    .imagearrow {
        visibility: hidden;
    }

    .scooter {
        visibility: hidden;
    }
}