* {
  background-color: #F6F6F6;
  font-family: 'Comfortaa Medium';
  padding: 0;
  margin: 0;
  
}


@font-face {
  font-family: "Comfortaa Medium";
  src: url('../src/fonts/Comfortaa-Medium.ttf');
  font-family: "Comfortaa Bold";
  src: url('../src/fonts/Comfortaa-Bold.ttf');
}